name: Documentation

on:
  push:
    branches: [master]
  pull_request:
    branches: ['*']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          condarc-file: ci/condarc
          use-mamba: true
          python-version: 3.8
          environment-file: ci/requirements-docs.yml
          activate-environment: xarray_extras-docs

      - name: Show conda options
        shell: bash -l {0}
        run: conda config --show

      - name: conda info
        shell: bash -l {0}
        run: conda info

      - name: conda list
        shell: bash -l {0}
        run: conda list

      - name: Install
        shell: bash -l {0}
        run: python -m pip install --no-deps -e .

      - name: Build docs
        shell: bash -l {0}
        run: sphinx-build -W -n -j auto -b html -d build/doctrees doc build/html

      - uses: actions/upload-artifact@v1
        with:
          name: xarray_extras-docs
          path: build/html
